* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: rgb(97, 160, 128);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

main{
    flex-grow: 1;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 30px;
}

.item-container{
    width: 280px;
    height: 110px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 30px;
}

.item-container:hover{
    box-shadow: 0px 0px 5px rgb(97, 160, 128)
}

footer{
    background-color: rgb(97, 160, 128);
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    color: aliceblue;
    padding-bottom: 5px;
    padding-right: 5px;
}